body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  background: url('../public/gbdownload.jpg') no-repeat center center;
  background-size:cover;
  background-attachment: fixed; /* This makes the background stay fixed on scroll */
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #00049E;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000px;
  padding: 10px;
}

.fingerprint-wrapper {
  flex: 0 0 auto;
  padding: 10px;
}

.fingerprint {
  width: 60px;
  height: auto;
}

.header-text {
  flex: 1;
  padding: 5px;
}

.header-title {
  font-size: 38px;
  font-weight: 500;
  display: block;margin-bottom: 10px;
}

.header-subtext {
  font-size: 14px;
  margin-top: 15px;
}

.data-card-wrapper-main {
 
  margin: 20px auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
  /* background: red; */
    /* margin-bottom: 40px;  */
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.data-card-wrapper {
 
  margin: 20px auto;
  
  overflow: hidden;
  background: white;
    margin-bottom: -2.2%; 

}

.data-card-header {
  background: linear-gradient(135deg, #C5C5C5, #666);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -3.5%; 

}

.data-card-header img {
  width: 60px;
  height: auto;
}

.data-card-body {
  padding: 20px;
}

.data-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 6px 0;
  font-size: 12px;
  color: #000;
}

.data-row strong {
  width: 45%;
}

.data-row span {
  width: 50%;
  word-break: break-word;
}

.footer-note {
  margin-top: 30px;
  font-size: 13px;
  color: #000;
}

.bottom-image {
  
  display: flex;
  justify-content:flex-end;
  /* padding: 10px 20px; */
  /* margin-left: 20%; */

  /* background-color:; */
}

.bottom-image img {
  width: 80px;
  height: auto;
}

.visit-section {
  text-align: center;
  padding: 10px;
}

.visit-section span,
.visit-section b {
  display: block;
  font-size: 14px;
  line-height: 1.4;
}
.footer-div{
  position: fixed;
  z-index: 10000px;
}

.bv-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.bv-link:hover,
.bv-link:focus {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .header-title {
    font-size: 20px;
  }

  .header-subtext {
    font-size: 12px;
  }

  .fingerprint {
    width: 50px;
  }

  .data-row {
    font-size: 12px;
  }

  .data-card-header img {
    width: 45px;
  }



  .visit-section span,
  .visit-section b {
    font-size: 12px;
  }
  .data-card-header{
    margin-bottom: -20.4px;
  }
  .data-card-wrapper-main{
    /* margin-bottom: 20%;  */
  }
  .data-card-wrapper{
    height: 60vh;
    margin-bottom: -3%; 
    

  }
  .bottom-image{
    padding: 0%;
  }

 
}
